/* Google fonts import link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  transition: all 0.3s ease;
}

:root {
  --white: #fff;
  --black: #24292d;
  --nav-main: #4070f4;
  --switchers-main: #0b3cc1;
  --light-bg: #F0F8FF;
}



/* ****************************   For Navbar ************** */


.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: 1px solid white;
}

.navbar-logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.navbar-logo .imge {
  padding-left: 30px;
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  color: aqua;
  font-size: 30px;
  width: max-content;
}

.navbar-menu {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  margin-right: 50px;
}

.navbar-menu li {
  margin-left: 20px;
  z-index: 100;
}

.navbar-menu li:last-child {
  margin-right: 0;
}

.navbar-menu li a {
  text-decoration: none;
  color: aqua;
  font-size: 1rem;
}

.navbar-menu li a:hover {
  color: #aaa;
  opacity: 1;
}

.navbar-hamburger {
  display: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: white;
}

@media (max-width: 768px) {
  .navbar-menu {
    display: none;
  }

  .navbar-hamburger {
    display: block;
  }

  .navbar.active .navbar-menu {
    display: flex;
  }
}


.home-content {
  height: 100vh;
  width: 100%;
  background: var(--light-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 60px;
}

.home-content h2 {
  color: var(--black);
  font-size: 50px;
}

.home-content h3 {
  color: var(--black);
  font-size: 42px;
  margin-top: -8px;
}

.home-content h3 span {
  color: var(--nav-main);
}

.home-content h3 span.darkMode {
  color: var(--black);
}

.home-content p {
  color: var(--black);
  font-size: 16px;
  width: 45%;
  text-align: justify;
  margin: 4px 0 30px 0;
}

.home-content a {
  color: #fff;
  font-size: 20px;
  padding: 12px 24px;
  border-radius: 6px;
  text-decoration: none;
  background: var(--nav-main);
}

.home-content a i {
  transform: rotate(45deg);
  font-size: 16px;
}

.home-content a:hover {
  background: var(--switchers-main);
}

@media (max-width: 1050px) {
  .home-content p {
    width: 70%;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  overflow: hidden;
  background: black;
}




.cover-page {
  --b: 3px;
  /* border thickness */
  --s: .45em;
  /* size of the corner */
  --color: #373B44;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: var(--switchers-main); */
  background: black;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
  /* Add transition for smooth sliding */
}

.cover-content {
  text-align: center;
}

button {
  padding: 10px 20px;
  font-size: 1.2em;
  background-color: #fff;
  color: #004080;
  border: none;
  cursor: pointer;
}

/* Hide main content initially */
.hidden {
  transform: translateY(100vh);
  /* Move the cover page off-screen initially */
}






/* CSS */
.coverButton {
  --glow-color: rgb(217, 176, 255);
  --glow-spread-color: rgba(191, 123, 255, 0.781);
  --enhanced-glow-color: rgb(231, 206, 255);
  --btn-color: rgb(100, 61, 136);
  border: .25em solid var(--glow-color);
  padding: 1em 3em;
  color: var(--glow-color);
  font-size: 15px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em .25em var(--glow-color),
    0 0 4em 1em var(--glow-spread-color),
    inset 0 0 .75em .25em var(--glow-color);
  text-shadow: 0 0 .5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
  margin-top: 20px;
}

.coverButton::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: .7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}

.coverButton:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em .25em var(--glow-color),
    0 0 4em 2em var(--glow-spread-color),
    inset 0 0 .75em .25em var(--glow-color);
}

.coverButton:active {
  box-shadow: 0 0 0.6em .25em var(--glow-color),
    0 0 2.5em 2em var(--glow-spread-color),
    inset 0 0 .5em .25em var(--glow-color);
}



/* ********************************************************* */


#heading {
  --glow-color: rgb(0, 255, 255);
  /* --glow-color: rgb(217, 176, 255); */
  --glow-spread-color: rgba(191, 123, 255, 0.781);
  --enhanced-glow-color: rgb(231, 206, 255);
  --btn-color: rgb(100, 61, 136);
  /* border: .25em solid var(--glow-color); */
  /* padding: 1em 3em; */
  color: var(--glow-color);
  font-size: 65px;
  font-weight: bold;
  /* background-color: var(--btn-color); */
  border-radius: 1em;
  outline: none;
  /* box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 1em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color); */
  text-shadow: 0 0 .5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
  margin-top: 20px;
}

#app {
  overflow: hidden;
}

#app canvas {
  display: block;
  position: fixed;
  z-index: -1;
  top: 0;
}



.list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 40px;
}

.link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
}

.link::before,
.link::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #00fffc;
  transform: scaleX(0);
  transition: transform 0.25s;
}

.link::before {
  top: -3px;
  transform-origin: left;
}

.link::after {
  bottom: -3px;
  transform-origin: right;
}

.link:hover::before,
.link:hover::after,
.active::before,
.active::after {
  transform: scaleX(1);
}










.text-pop-up-top {
  -webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* Ensure the background is behind other content */
}

.content {
  position: relative;
  z-index: 1;
  /* Ensure the content is above the background */
}